{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
<div class = "page-header">
	<h1>{{ title }}</h1>
</div>
<div class = "container">
  <form action="/show_books" method='POST'>
	<table class="table table-hover">
    <thead>
      <tr>
        {% if if_deletable %}
        <th>Select</th>
        {% endif %}
        <th>ISBN</th>
        <th>Name</th>
        <th>Author</th>
        <th>Floor</th>
        <th>Shelf</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, bookList|length) %}
      <tr>
        {% if if_deletable %}
        <td><input name='checkbox{{i}}' type='checkbox'></td>
        {% endif %}
        <td>{{ bookList[i].ISBN }}</td>
        <td>{{ bookList[i].name }}</td>
        <td>{{ bookList[i].author }}</td>
        <td>{{ bookList[i].floor }}</td>
        <td>{{ bookList[i].shelf }}</td>
        <td>{{ bookList[i].level }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if if_deletable %}
  <input class="btn btn-default" type="submit" value="Delete the selected books">
  {% endif %}
  </form>
</div>
{% endblock %}